#contact {
    color: var(--light-blue);
    text-align: center;
    padding: 4rem 2rem;
    background: var(--green);
    padding-bottom: 0;
}

#contact h2 {
    font-size: 2.5rem;

}

@media(max-width: 500px) {
    #contact h2 {
        font-size: 2rem;
    }

    #contact {
        padding: 2rem 1rem;
    }

    #contact-form input {
        width: calc(100% - 2rem) !important;
    }

    #contact-form textarea {
        width: calc(100% - 2rem) !important;
    }
}

#contact p {
    font-size: 1.2rem;
    font-family: nunito-sans;
    color: white;
    margin: 2rem 0;
}

#contact-form-wrap {
    max-width: 50rem;
    margin: auto;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    width: 100%;
    position: relative;
}

#contact-form input {
    color: var(--light-blue);
    font-size: 1.2rem;
    background: var(--dark-green);
    border: 0;
    outline: 0;
    width: calc(100% - 1rem);
    height: 1rem;
    padding: 1rem;
}

#contact-form textarea {
    color: var(--light-blue);
    font-family: nunito-sans;
    font-size: 1.2rem;
    background: var(--dark-green);
    border: 0;
    outline: 0;
    width: calc(100% - 1rem);

    height: 10rem;
    padding: 1rem;
    resize: none;
}

#form-submit-button {
    background: var(--dark-green);
    border: 0;
    outline: 0;
    padding: 2rem;
    width: auto;
    color: var(--light-blue);
    transition: color 0.1s, transform 0.2s, opacity, 0.3s;

    font-size: 1.3rem;
    font-family: monomaniac-one;
    padding: 1rem 2rem;
}

#form-submit-button:hover {
    cursor: pointer;
    color: var(--orange)
}

#form-success {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% + 1rem);
    background-color: var(--green);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light-blue);
    display: none;
}

#form-success p {
    color: var(--light-blue);
    font-size: 1.3rem;
}

#form-success button {
    background: var(--dark-green);
    border: 0;
    outline: 0;
    padding: 2rem;
    width: auto;
    color: var(--light-blue);
    transition: color 0.1s, transform 0.2s, opacity, 0.3s;

    font-size: 1.3rem;
    font-family: monomaniac-one;
    padding: 1rem 2rem;
}

#form-success button:hover {
    cursor: pointer;
    color: var(--orange)
}

#footer p {
    text-align: center;
    font-family: nunito-sans;
    padding: 1rem;
    color: white;
    margin: 0;
    margin-top: 2rem;
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

#footer a {
    font-weight: bold;
    color: var(--light-blue);

}

#footer a:hover {
    color: var(--orange);
    cursor: pointer;
}