/* Added in Sep 2023 to clean up styling to make it more generic/reusable for different els*/
p {
  font-size: 1.1rem;
}
.content-section {
  max-width: 60rem;
  background: var(--green);
  margin: auto;
  padding: 2rem;
  margin-bottom: 2rem;
}

.content-section:last-child {
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  .content-section {
    max-width: 80rem;
  }
}

@media (max-width: 800px) {
  .content-section {
    padding: 1rem;
  }
}

h2,
h3 {
  font-family: kumbh-sans;
  color: var(--light-blue);
}
h4 {
  font-family: nunito-sans;
  color: white;
  font-size: 1.1rem;
  margin-block: 0.5rem;
}

ul {
  margin-left: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h3 .date {
  color: white;
  font-family: nunito-sans;
  font-size: 1rem;
}

p {
  color: white;
  margin-block: 0.5rem;
  font-family: nunito-sans;
}

h2 {
  font-size: 2.5rem;
}
@media (max-width: 700px) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }
}

h3 {
  margin-top: 2rem;
}

#favourite {
  color: var(--orange);
}

#favourite::after {
  content: " *Look at me first";
  font-family: nunito-sans;
  font-weight: normal;
  font-size: 1rem;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}
.content-section nav {
  margin-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.content-section nav > a {
  display: block;
  width: fit-content;
  padding: 0.5rem;
  background: var(--dark-green);
  color: var(--light-blue);
}

.content-section a:hover {
  color: var(--orange);
  cursor: pointer;
}

.inline-link {
  text-decoration: none;
}

.inline-link:link {
  color: var(--light-blue);
}

.inline-link:visited {
  color: var(--light-blue);
}
