html {
}

:root {
  --green: #06252e;
  --green-translucent: #06252ed7;
  --dark-green: #061d24;
  --dark-green-translucent: #061d24f5;
  --light-blue: #bcffe3;
  --light-blue-translucent: #bcffe3b7;
  --orange: #ff8a00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-cursor {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: nunito-sans;
  overflow: hidden;
  background-color: var(--dark-green);
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 400;
  font-family: kumbh-sans;
  font-weight: 800;
}

#main {
  scroll-behavior: smooth;
  height: 100vh;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 0.5s;
  /* width: calc(100vw - 10rem); */
  width: 100vw;
  /* margin-left: 10rem; */
}

#page-wrap {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 1;
  transition: opacity 0.3s;
}

.ball {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid var(--light-blue);
  border-radius: 50%;
  pointer-events: none;
  z-index: 100;
  display: none;
  place-items: center;
  overflow: hidden;
  transition: width 0.2s, height 0.2s, opacity 0.3s;
}

#ball-1 {
  opacity: 0.8;
}

#ball-2 {
  isolation: isolate;
  opacity: 0.6;
}

#ball-3 {
  isolation: isolate;
  opacity: 0.4;
}

#ball-4 {
  isolation: isolate;
  opacity: 0.2;
}

.cursor {
  pointer-events: none;
  height: 16px;
  width: 16px;
  position: fixed;
  top: -100%;
  left: -100%;
  background: var(--light-blue);
  clip-path: circle();
  z-index: 100;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, background-color 0.4s, transform 1s,
    opacity 0.3s;
  mix-blend-mode: difference;
  /* display: none; */
}

.cursor-inactive {
  opacity: 0 !important;
  height: 1px;
  width: 1px;
}

.ball-hover {
  width: 90px;
  height: 90px;
}

#physics-engine-wrap {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  transition: opacity 0.1s;
}

.less-opacity {
  opacity: 0.7;
}

.sandbox-mode {
  opacity: 0 !important;
}

.sandbox-mode * {
  pointer-events: none !important;
}

#sandbox-return-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  display: grid;
  place-items: center;
  background: var(--green);
  transition: 0.1s;
  pointer-events: all;
}

#sandbox-return {
  outline: none;
  border: none;
  color: var(--light-blue);
  font-family: "monomaniac-one";
  font-size: 1.5rem;
  transition: 0.1s;
  background: var(--green);
  padding: 2rem 4rem;
  border: 1px solid var(--light-blue);
}

#sandbox-return:hover {
  color: var(--orange);
  cursor: pointer;
  border-color: var(--orange);
}

#sandbox-return:active {
  transform: scale(0.9);
}

.sandbox-return-active {
  transform: translate(-50%, 0%) !important;
}
